{% extends 'base.html' %} {% block content %}
<dl>
  <dt>Title</dt>
  <dd>{{ movie.title }}</dd>
  <dt>Genre</dt>
  <dd>{{ movie.genre }}</dd>
  <dt>Stock</dt>
  <dd>{{ movie.number_in_stock }}</dd>
  <dt>Release Year</dt>
  <dd>{{ movie.release_year }}</dd>
  <dt>Details</dt>
  <dd>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cumque error
    unde possimus cupiditate! Saepe, labore corporis, eum similique, harum est
    minus ex nam nihil tempore non quidem rerum perspiciatis odit nulla
    doloribus aspernatur id aliquid. Excepturi doloremque modi ut sint. Soluta,
    nesciunt consequatur, beatae tempora ipsa deserunt esse quas quaerat eos
    eaque earum enim aut reprehenderit delectus amet similique rerum. Illo,
    voluptatem ea consectetur iure neque mollitia natus odit ab impedit nulla
    animi tempora earum commodi, at, aperiam sapiente aspernatur amet libero.
    Doloremque nisi aperiam, error accusamus similique rem mollitia hic
    repellendus. Accusantium dolores, dignissimos necessitatibus perspiciatis
    vero quidem?
  </dd>
</dl>
{% endblock %}
