{% extends 'base.html' %} {% block content %}
<center>
  <h4>Welcome to Vidly! Rent your favourite movies at cheapest price.</h4>
</center>
<a href="{% url 'movies:index' %}"><h4>Browse Movies</h4></a>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quos commodi
maiores deserunt iste! Architecto accusamus fuga libero asperiores tenetur
pariatur tempore commodi fugiat esse distinctio excepturi corrupti laboriosam
natus deserunt eaque voluptas maiores, velit vero animi? Aliquam voluptates
ipsam in deleniti natus cum, ab ducimus sint labore voluptate dolorem, error ut
magni non. Blanditiis facilis dolorem est, veritatis, repudiandae consequatur
perspiciatis assumenda, qui dicta molestiae at velit hic fugiat totam nihil
explicabo! Amet maiores numquam dolores voluptates earum. Quisquam earum aliquid
molestias praesentium autem maiores facilis animi voluptates natus omnis
distinctio blanditiis sunt mollitia id nemo ea, laudantium illo ullam tenetur,
vero accusamus dicta odit! Nulla fuga fugit at voluptates ratione placeat
molestiae iste similique! Corporis culpa maxime laudantium velit cum impedit
alias autem laboriosam? Optio maxime, repellendus nemo doloremque est
perspiciatis deserunt delectus debitis a. Eligendi quaerat asperiores suscipit
quis numquam id assumenda deleniti molestiae voluptate. Molestiae earum
distinctio, laudantium perferendis quis similique. Libero, nostrum. In amet
doloremque enim repellat quod perspiciatis quo aspernatur, voluptate odit?
Quaerat sunt consequuntur quod cumque, tempora soluta temporibus distinctio
neque nisi facere tenetur labore delectus veritatis autem corporis vero maiores
ullam! Soluta ratione, ad minus consectetur aspernatur eveniet labore molestiae
sequi optio ea repudiandae unde eligendi quae itaque omnis ipsa, odio animi.
Suscipit, saepe autem. Eius blanditiis mollitia sequi deserunt, modi ut? Quos,
reprehenderit omnis dolorem sit placeat consectetur tenetur numquam ex eius
libero soluta odio minima quae animi maxime neque explicabo maiores! Magnam hic
asperiores exercitationem assumenda doloremque animi tenetur qui labore
perspiciatis suscipit neque explicabo accusamus corporis repellat fugit nemo
distinctio deserunt vitae, delectus sapiente? Accusantium est placeat fugit
libero, vel eaque maxime asperiores autem, ratione, accusamus incidunt
perspiciatis eius ipsa quam dolores esse delectus quas assumenda? Quia, eos
perferendis enim atque quos, officia totam, eveniet nesciunt repudiandae minima
ipsa. {% endblock %}
